<nav class="navbar navbar-light bg-light" role="navigation">

  <div class="container-fluid">
    <%= link_to "My lists", lists_path, :class => "navbar-brand" %>
    <i class="fa-solid fa-video"></i>
    <div class="ms-auto flex"><%= image_tag "https://avatars.githubusercontent.com/u/105462709?s=400&u=13a0e013f5a4a66af36947cfe8ea256a7c2254e6&v=4", class: "avatar", alt: "avatar" %></div>
  </div>
</nav>
